<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>CarShop</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
</head>

<body>

<div class="container" style="margin-top: 50px;">
    <div th:if="${success}" class="alert alert-success">
        <strong>Success!</strong> Post successful.
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-7 col-lg-6">
            <form th:action="@{/private/addCar}" method="post">
                <div class="form-group">
                    <label for="makeInput" class="control-label">Make: </label>
                    <select class="form-control" id="makeInput" name="manufacturer">
                        <option value="Volvo">Volvo</option>
                        <option value="Saab">Saab</option>
                        <option value="Mercedes">Mercedes</option>
                        <option value="Audi">Audi</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="modelInput" class="control-label">Model: </label>
                    <input class="form-control" id="modelInput" name="model" type="text" placeholder="Model" /><br />
                </div>
                <div class="form-group">
                    <label for="priceInput" class="control-label">Price: </label>
                    <input class="form-control" id="priceInput" name="price" type="number" placeholder="Price" min="20"/><br />
                </div>
                <div class="form-group">
                    <label for="milageInput" class="control-label">Milage: </label>
                    <input class="form-control" id="milageInput" name="milage" type="number" placeholder="Milage" min="20"/><br />
                </div>
                <div class="form-group">
                    <label for="yearInput" class="control-label">Manufacture year: </label>
                    <input class="form-control" id="yearInput" name="manufactureYear" type="number" placeholder="Manufacture Year" min="1800"/><br />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" name="submit" type="submit">Add car</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>