<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Hello</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
<div class="col-md-4" style="padding:10px 10px">
    <form action="/logout" method="post">
        <input type="submit" value="Log Out"/>
    </form>
</div>

<script>
    $.ajax({
        xhrFields: {
            withCredentials: true
        },
        type: "GET",
        url: "http://localhost:8080/private/greeting"
    }).done(function (data) {
        console.log(data);
    });
</script>

<div class='container'>
    <div id='root'> Halloooo </div>
</div>


<form th:action="@{/private/addCar}" method="post">
    <!-- <input name="manufacturer" type="text" placeholder="Manufacturer" /><br /> -->
    <select name="manufacturer">
        <option value="Volvo">Volvo</option>
        <option value="Saab">Saab</option>
        <option value="Mercedes">Mercedes</option>
        <option value="Audi">Audi</option>
    </select>
    <br />
    <input name="model" type="text" placeholder="Model" /><br />
    <input name="price" type="number" placeholder="Price" min="20"/><br />
    <input name="milage" type="number" placeholder="Milage" min="20"/><br />
    <input name="manufactureYear" type="number" placeholder="Manufacture Year" min="1800"/><br />
    <button name="submit" type="submit">Add car</button>
</form>

</body>
</html>